In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("example.csv", header=None)

In [3]:
df

    0   1   2   3
0   a   b   c   d
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15

In [4]:
df = pd.read_csv("example.csv")

In [5]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [6]:
df.to_csv("newfile.csv", index=True)

In [7]:
new = pd.read_csv("example.csv")

In [8]:
new

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [9]:
tables = pd.read_html("https://en.wikipedia.org/wiki/World_population")

In [10]:
tables

[      Population         1     2     3     4     5     6     7     8     9  \
 0           Year      1804  1927  1960  1974  1987  1999  2011  2022  2037
 1  Years elapsed  200,000+   123    33    14    13    12    12    11    15

      10
 0  2057
 1    20  ,
                                Region  2022 (percent)  2030 (percent)  \
 0                  Sub-Saharan Africa  1,152 (14.51%)  1,401 (16.46%)
 1    Northern Africa and Western Asia     549 (6.91%)     617 (7.25%)
 2      Central Asia and Southern Asia  2,075 (26.13%)  2,248 (26.41%)
 3  Eastern Asia and Southeastern Asia  2,342 (29.49%)  2,372 (27.87%)
 4         Europe and Northern America  1,120 (14.10%)  1,129 (13.26%)
 5     Latin America and the Caribbean     658 (8.29%)     695 (8.17%)
 6           Australia and New Zealand      31 (0.39%)      34 (0.40%)
 7                             Oceania      14 (0.18%)      15 (0.18%)
 8                               World            7942            8512

    2050 (percent)
 0  2,094 (21.62%)
 1     771 (7.96%)
 2  2,575 (26.58%)
 3  2,317 (23.92%)
 4  1,125 (11.61%)
 5     749 (7.73%)
 6      38 (0.39%)
 7      20 (0.21%)
 8            9687  ,
     0                                                  1
 0 NaN  Graphs are unavailable due to technical issues...,
                      Region Density (inhabitants/km2) Population (millions)  \
 0                      Asia                     104.1                  4641
 1                    Africa                      44.4                  1340
 2                    Europe                      73.4                   747
 3             Latin America                      24.1                   653
 4  Northern America[note 1]                      14.9                   368
 5                   Oceania                         5                    42
 6                Antarctica                        ~0             0.004[89]

                                Most populous country  \
 0                              1,418,459,382 – India
 1                            0,211,401,000 – Nigeria
 2  0,146,171,000 – Russia, approx. 110 million in...
 3                             0,214,103,000 – Brazil
 4                      0,332,909,000 – United States
 5                          0,025,917,000 – Australia
 6                                        N/A[note 2]

               Most populous city (metropolitan area)
 0  13,515,000 – Tokyo Metropolis (37,400,000 – Gr...
 1    09,500,000 – Cairo (20,076,000 – Greater Cairo)
 2  13,200,000 – Moscow (20,004,000 – Moscow metro...
 3  12,252,000 – São Paulo City (21,650,000 – São ...
 4  08,804,000 – New York City (23,582,649 – New Y...
 5                                05,367,000 – Sydney
 6                       00,001,258 – McMurdo Station  ,
   Country / Dependency  Population  % of world         Date  \
 0                India  1425775850         NaN  14 Apr 2023
 1                China  1412600000         NaN  31 Dec 2021
 2        United States   336298405         NaN   9 Apr 2024
 3            Indonesia   278696200         NaN   1 Jul 2023
 4             Pakistan   229488994         NaN   1 Jul 2022
 5              Nigeria   216746934         NaN   1 Jul 2022
 6               Brazil   217510446         NaN   9 Apr 2024
 7           Bangladesh   168220000         NaN   1 Jul 2020
 8               Russia   147190000         NaN   1 Oct 2021
 9               Mexico   128271248         NaN  31 Mar 2022

   Source (official or from the United Nations)
 0                            UN projection[92]
 1                 National annual estimate[93]
 2                National population clock[94]
 3                 National annual estimate[95]
 4                            UN projection[96]
 5                            UN projection[96]
 6                National population clock[97]
 7               Annual Population Estimate[98]
 8          2021 preliminary census results[99]
 9                                          NaN  ,
                                                                                                          #  \
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
 0                                                 NaN
 1                                                   1
 2                                                   2
 3                                                   3
 4                                                   4
 5                                                   5
 6                                                   6
 7                                                   7
 8                                                   8
 9                                                   9
 10                                                 10
 11                                                NaN
 12  Notes: .mw-parser-output .reflist{font-size:90...

                               Most populous countries  \
                                    Unnamed: 1_level_1
                                    Unnamed: 1_level_2
                                    Unnamed: 1_level_3
                                    Unnamed: 1_level_4
                                    Unnamed: 1_level_5
                                    Unnamed: 1_level_6
                                    Unnamed: 1_level_7
                                    Unnamed: 1_level_8
                                    Unnamed: 1_level_9
                                   Unnamed: 1_level_10
                                   Unnamed: 1_level_11
 0   Graphs are unavailable due to technical issues...
 1                                            China[B]
 2                                               India
 3                                       United States
 4                                           Indonesia
 5                                            Pakistan
 6                                              Brazil
 7                                             Nigeria
 8                                          Bangladesh
 9                                              Russia
 10                                             Mexico
 11                                        World total
 12  Notes: .mw-parser-output .reflist{font-size:90...

                                                  2000  \
                                    Unnamed: 2_level_1
                                    Unnamed: 2_level_2
                                    Unnamed: 2_level_3
                                    Unnamed: 2_level_4
                                    Unnamed: 2_level_5
                                    Unnamed: 2_level_6
                                    Unnamed: 2_level_7
                                    Unnamed: 2_level_8
                                    Unnamed: 2_level_9
                                   Unnamed: 2_level_10
                                   Unnamed: 2_level_11
 0                                                 NaN
 1                                                1270
 2                                                1053
 3                                                 283
 4                                                 212
 5                                                 136
 6                                                 176
 7                                                 123
 8                                                 131
 9                                                 146
 10                                                103
 11                                               6127
 12  Notes: .mw-parser-output .reflist{font-size:90...

                                                  2015  \
                                    Unnamed: 3_level_1
                                    Unnamed: 3_level_2
                                    Unnamed: 3_level_3
                                    Unnamed: 3_level_4
                                    Unnamed: 3_level_5
                                    Unnamed: 3_level_6
                                    Unnamed: 3_level_7
                                    Unnamed: 3_level_8
                                    Unnamed: 3_level_9
                                   Unnamed: 3_level_10
                                   Unnamed: 3_level_11
 0                                                 NaN
 1                                                1376
 2                                                1311
 3                                                 322
 4                                                 258
 5                                                 208
 6                                                 206
 7                                                 182
 8                                                 161
 9                                                 146
 10                                                127
 11                                               7349
 12  Notes: .mw-parser-output .reflist{font-size:90...

                                               2030[A]  \
                                    Unnamed: 4_level_1
                                    Unnamed: 4_level_2
                                    Unnamed: 4_level_3
                                    Unnamed: 4_level_4
                                    Unnamed: 4_level_5
                                    Unnamed: 4_level_6
                                    Unnamed: 4_level_7
                                    Unnamed: 4_level_8
                                    Unnamed: 4_level_9
                                   Unnamed: 4_level_10
                                   Unnamed: 4_level_11
 0                                                 NaN
 1                                                1416
 2                                                1528
 3                                                 356
 4                                                 295
 5                                                 245
 6                                                 228
 7                                                 263
 8                                                 186
 9                                                 149
 10                                                148
 11                                               8501
 12  Notes: .mw-parser-output .reflist{font-size:90...

    Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
                                                                                         Unnamed: 5_level_1
                                                                                         Unnamed: 5_level_2
                                                                                         Unnamed: 5_level_3
                                                                                         Unnamed: 5_level_4
                                                                                         Unnamed: 5_level_5
                                                                                         Unnamed: 5_level_6
                                                                                         Unnamed: 5_level_7
                                                                                         Unnamed: 5_level_8
                                                                                         Unnamed: 5_level_9
                                                                                        Unnamed: 5_level_10
                                                                                        Unnamed: 5_level_11
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12  Notes: .mw-parser-output .reflist{font-size:90...                                                       ,
     0                                                  1
 0 NaN  Graphs are unavailable due to technical issues...,
    Rank                 Country  Population  Area (km2)  Density (pop/km2)
 0     1               Singapore     5921231         719               8235
 1     2              Bangladesh   165650475      148460               1116
 2     3  Palestine[note 3][103]     5223000        6025                867
 3     4          Taiwan[note 4]    23580712       35980                655
 4     5             South Korea    51844834       99720                520
 5     6                 Lebanon     5296814       10400                509
 6     7                  Rwanda    13173730       26338                500
 7     8                 Burundi    12696478       27830                456
 8     9                   India  1389637446     3287263                423
 9    10             Netherlands    17400824       41543                419,
    Rank         Country  Population  Area (km2)  Density (pop/km2)  \
 0     1           India  1389637446     3287263                423
 1     2        Pakistan   242923845      796095                305
 2     3      Bangladesh   165650475      148460               1116
 3     4           Japan   124214766      377915                329
 4     5     Philippines   114597229      300000                382
 5     6         Vietnam   103808319      331210                313
 6     7  United Kingdom    67791400      243610                278
 7     8     South Korea    51844834       99720                520
 8     9          Taiwan    23580712       35980                655
 9    10       Sri Lanka    23187516       65610                353

   Population trend[citation needed]
 0                           Growing
 1                   Rapidly growing
 2                           Growing
 3                    Declining[104]
 4                           Growing
 5                           Growing
 6                           Growing
 7                            Steady
 8                            Steady
 9                           Growing  ,
     0                                                  1
 0 NaN  Graphs are unavailable due to technical issues...,
     0                                                  1
 0 NaN  Graphs are unavailable due to technical issues...,
     Year  Population Yearly growth           Density (pop/km2)
     Year  Population             %    Number Density (pop/km2)
 0   1951  2543130380         1.75%  43808223                17
 1   1952  2590270899         1.85%  47140519                17
 2   1953  2640278797         1.93%  50007898                18
 3   1954  2691979339         1.96%  51700542                18
 4   1955  2746072141         2.01%  54092802                18
 ..   ...         ...           ...       ...               ...
 68  2019  7764951032         1.06%  81161204                52
 69  2020  7840952880         0.98%  76001848                53
 70  2021  7909295151         0.87%  68342271                53
 71  2022  7975105156         0.83%  65810005                54
 72  2023  8045311447         0.88%  70206291                54

 [73 rows x 5 columns],
                      Region  1500  1600  1700  1750  1800  1850  1900  1950  \
 0                     World   585   660   710   791   978  1262  1650  2521
 1                    Africa    86   114   106   106   107   111   133   221
 2                      Asia   282   350   411   502   635   809   947  1402
 3                    Europe   168   170   178   190   203   276   408   547
 4     Latin America[Note 1]    40    20    10    16    24    38    74   167
 5  Northern America[Note 1]     6     3     2     2     7    26    82   172
 6                   Oceania     3     3     3     2     2     2     6    13

    1999  2008  2010  2012  2050  2150
 0  6008  6707  6896  7052  9725  9746
 1   783   973  1022  1052  2478  2308
 2  3700  4054  4164  4250  5267  5561
 3   675   732   738   740   734   517
 4   508   577   590   603   784   912
 5   312   337   345   351   433   398
 6    30    34    37    38    57    51  ,
                      Region  1500  1600  1700  1750  1800  1850  1900  1950  \
 0                    Africa  14.7  17.3  14.9  13.4  10.9   8.8   8.1   8.8
 1                      Asia  48.2  53.0  57.9  63.5  64.9  64.1  57.4  55.6
 2                    Europe  28.7  25.8  25.1  20.6  20.8  21.9  24.7  21.7
 3     Latin America[Note 1]   6.8   3.0   1.4   2.0   2.5   3.0   4.5   6.6
 4  Northern America[Note 1]   1.0   0.5   0.3   0.3   0.7   2.1   5.0   6.8
 5                   Oceania   0.5   0.5   0.4   0.3   0.2   0.2   0.4   0.5

    1999  2008  2010  2012  2050  2150
 0  13.0  14.5  14.8  15.2  25.5  23.7
 1  61.6  60.4  60.4  60.3  54.2  57.1
 2  11.2  10.9  10.7  10.5   7.6   5.3
 3   8.5   8.6   8.6   8.6   8.1   9.4
 4   5.2   5.0   5.0   5.0   4.5   4.1
 5   0.5   0.5   0.5   0.5   0.6   0.5  ,
          Year    World  Africa    Asia  Europe  \
 0   70,000 BC  < 0.015     NaN     NaN     NaN
 1   10,000 BC        4     NaN     NaN     NaN
 2     8000 BC        5     NaN     NaN     NaN
 3     6500 BC        5     NaN     NaN     NaN
 4     5000 BC        5     NaN     NaN     NaN
 5     4000 BC        7     NaN     NaN     NaN
 6     3000 BC       14     NaN     NaN     NaN
 7     2000 BC       27     NaN     NaN     NaN
 8     1000 BC       50     7.0    33.0     9.0
 9      500 BC      100    14.0    66.0    16.0
 10       AD 1      200    23.0   141.0    28.0
 11       1000      400    70.0   269.0    50.0
 12       1500      458    86.0   243.0    84.0
 13       1600      580   114.0   339.0   111.0
 14       1700      682   106.0   436.0   125.0
 15       1750      791   106.0   502.0   163.0
 16       1800     1000   107.0   656.0   203.0
 17       1850     1262   111.0   809.0   276.0
 18       1900     1650   133.0   947.0   408.0
 19       1950     2525   229.0  1394.0   549.0
 20       1955     2758   254.0  1534.0   577.0
 21       1960     3018   285.0  1687.0   606.0
 22       1965     3322   322.0  1875.0   635.0
 23       1970     3682   366.0  2120.0   657.0
 24       1975     4061   416.0  2378.0   677.0
 25       1980     4440   478.0  2626.0   694.0
 26       1985     4853   550.0  2897.0   708.0
 27       1990     5310   632.0  3202.0   721.0
 28       1995     5735   720.0  3475.0   728.0

In [11]:
len(tables) #tables

30

In [12]:
tables[0]

,Population,1,2,3,4,5,6,7,8,9,10
0,Year,1804,1927,1960,1974,1987,1999,2011,2022,2037,2057
1,Years elapsed,"200,000+",123,33,14,13,12,12,11,15,20

In [13]:
tables[1]

,Region,2022 (percent),2030 (percent),2050 (percent)
0,Sub-Saharan Africa,"1,152 (14.51%)","1,401 (16.46%)","2,094 (21.62%)"
1,Northern Africa and Western Asia,549 (6.91%),617 (7.25%),771 (7.96%)
2,Central Asia and Southern Asia,"2,075 (26.13%)","2,248 (26.41%)","2,575 (26.58%)"
3,Eastern Asia and Southeastern Asia,"2,342 (29.49%)","2,372 (27.87%)","2,317 (23.92%)"
4,Europe and Northern America,"1,120 (14.10%)","1,129 (13.26%)","1,125 (11.61%)"
5,Latin America and the Caribbean,658 (8.29%),695 (8.17%),749 (7.73%)
6,Australia and New Zealand,31 (0.39%),34 (0.40%),38 (0.39%)
7,Oceania,14 (0.18%),15 (0.18%),20 (0.21%)
8,World,7942,8512,9687

In [14]:
tables[2]

    0                                                  1
0 NaN  Graphs are unavailable due to technical issues...

In [15]:
tables[3]

,Region,Density (inhabitants/km2),Population (millions),Most populous country,Most populous city (metropolitan area)
0,Asia,104.1,4641,"1,418,459,382 – India","13,515,000 – Tokyo Metropolis (37,400,000 – Gr..."
1,Africa,44.4,1340,"0,211,401,000 – Nigeria","09,500,000 – Cairo (20,076,000 – Greater Cairo)"
2,Europe,73.4,747,"0,146,171,000 – Russia, approx. 110 million in...","13,200,000 – Moscow (20,004,000 – Moscow metro..."
3,Latin America,24.1,653,"0,214,103,000 – Brazil","12,252,000 – São Paulo City (21,650,000 – São ..."
4,Northern America[note 1],14.9,368,"0,332,909,000 – United States","08,804,000 – New York City (23,582,649 – New Y..."
5,Oceania,5,42,"0,025,917,000 – Australia","05,367,000 – Sydney"
6,Antarctica,~0,0.004[89],N/A[note 2],"00,001,258 – McMurdo Station"

In [16]:
tables[5]

,#,Most populous countries,2000,2015,2030[A],Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,Unnamed: 4_level_1,Unnamed: 5_level_1
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_2,Unnamed: 2_level_2,Unnamed: 3_level_2,Unnamed: 4_level_2,Unnamed: 5_level_2
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_3,Unnamed: 2_level_3,Unnamed: 3_level_3,Unnamed: 4_level_3,Unnamed: 5_level_3
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_4,Unnamed: 2_level_4,Unnamed: 3_level_4,Unnamed: 4_level_4,Unnamed: 5_level_4
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_5,Unnamed: 2_level_5,Unnamed: 3_level_5,Unnamed: 4_level_5,Unnamed: 5_level_5
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_6,Unnamed: 2_level_6,Unnamed: 3_level_6,Unnamed: 4_level_6,Unnamed: 5_level_6
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_7,Unnamed: 2_level_7,Unnamed: 3_level_7,Unnamed: 4_level_7,Unnamed: 5_level_7
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_8,Unnamed: 2_level_8,Unnamed: 3_level_8,Unnamed: 4_level_8,Unnamed: 5_level_8
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_9,Unnamed: 2_level_9,Unnamed: 3_level_9,Unnamed: 4_level_9,Unnamed: 5_level_9
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_10,Unnamed: 2_level_10,Unnamed: 3_level_10,Unnamed: 4_level_10,Unnamed: 5_level_10
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_11,Unnamed: 2_level_11,Unnamed: 3_level_11,Unnamed: 4_level_11,Unnamed: 5_level_11
0,NaN,Graphs are unavailable due to technical issues...,NaN,NaN,NaN,NaN
1,1,China[B],1270,1376,1416,NaN
2,2,India,1053,1311,1528,NaN
3,3,United States,283,322,356,NaN
4,4,Indonesia,212,258,295,NaN
5,5,Pakistan,136,208,245,NaN
6,6,Brazil,176,206,228,NaN
7,7,Nigeria,123,182,263,NaN
8,8,Bangladesh,131,161,186,NaN
9,9,Russia,146,146,149,NaN
10,10,Mexico,103,127,148,NaN
11,NaN,World total,6127,7349,8501,NaN
12,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...

In [17]:
tables[5]

,#,Most populous countries,2000,2015,2030[A],Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,Unnamed: 4_level_1,Unnamed: 5_level_1
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_2,Unnamed: 2_level_2,Unnamed: 3_level_2,Unnamed: 4_level_2,Unnamed: 5_level_2
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_3,Unnamed: 2_level_3,Unnamed: 3_level_3,Unnamed: 4_level_3,Unnamed: 5_level_3
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_4,Unnamed: 2_level_4,Unnamed: 3_level_4,Unnamed: 4_level_4,Unnamed: 5_level_4
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_5,Unnamed: 2_level_5,Unnamed: 3_level_5,Unnamed: 4_level_5,Unnamed: 5_level_5
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_6,Unnamed: 2_level_6,Unnamed: 3_level_6,Unnamed: 4_level_6,Unnamed: 5_level_6
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_7,Unnamed: 2_level_7,Unnamed: 3_level_7,Unnamed: 4_level_7,Unnamed: 5_level_7
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_8,Unnamed: 2_level_8,Unnamed: 3_level_8,Unnamed: 4_level_8,Unnamed: 5_level_8
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_9,Unnamed: 2_level_9,Unnamed: 3_level_9,Unnamed: 4_level_9,Unnamed: 5_level_9
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_10,Unnamed: 2_level_10,Unnamed: 3_level_10,Unnamed: 4_level_10,Unnamed: 5_level_10
,Graphs are unavailable due to technical issues. There is more info on Phabricator and on MediaWiki.org.,Unnamed: 1_level_11,Unnamed: 2_level_11,Unnamed: 3_level_11,Unnamed: 4_level_11,Unnamed: 5_level_11
0,NaN,Graphs are unavailable due to technical issues...,NaN,NaN,NaN,NaN
1,1,China[B],1270,1376,1416,NaN
2,2,India,1053,1311,1528,NaN
3,3,United States,283,322,356,NaN
4,4,Indonesia,212,258,295,NaN
5,5,Pakistan,136,208,245,NaN
6,6,Brazil,176,206,228,NaN
7,7,Nigeria,123,182,263,NaN
8,8,Bangladesh,131,161,186,NaN
9,9,Russia,146,146,149,NaN
10,10,Mexico,103,127,148,NaN
11,NaN,World total,6127,7349,8501,NaN
12,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...,Notes: .mw-parser-output .reflist{font-size:90...

In [18]:
df = pd.read_excel("my_excel_file.xlsx", sheet_name="First_Sheet")

In [19]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [20]:
wb = pd.ExcelFile("my_excel_file.xlsx")

In [21]:
wb.sheet_names

['First_Sheet']

In [22]:
excel_sheet_dict = pd.read_excel("my_excel_file.xlsx", sheet_name=None)

In [23]:
excel_sheet_dict

{'First_Sheet':     a   b   c   d
 0   0   1   2   3
 1   4   5   6   7
 2   8   9  10  11
 3  12  13  14  15}

In [24]:
our_df = excel_sheet_dict["First_Sheet"]

In [25]:
our_df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [27]:
our_df.to_excel("example_1.xlsx")

In [28]:
from sqlalchemy import create_engine

In [29]:
temp_db = create_engine("sqlite:///:memory:")

In [33]:
import numpy as np

In [32]:
import numpy as np

In [38]:
df = pd.DataFrame(data=np.random.randint(low=0, high=100, size=(4, 4)), columns=["a", "b", "c", "d"])

In [42]:
df.to_sql(name="new_table", con=temp_db)

ValueError: Table 'new_table' already exists.

In [41]:
pd.read_sql(sql="new_table", con=temp_db)

   index   a   b   c   d
0      0  78   9  66  15
1      1  99  87  36  16
2      2  38  37  49  55
3      3  29  86  60  84

In [ ]:
pd.read_sql_query(sql="SELECT a FROM new_table",con=temp_db")